.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.6); /* Cor aliceblue com transparência */
    border-radius: 40px;
    height: 120px;
    padding: 0 20px; /* Adiciona algum espaçamento interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombreamento opcional */
}

/* Textos permanecem opacos */
.website-name {
    color: var(--main);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adiciona leve sombra ao texto */
    font-family: 'Lucida Handwriting', cursive;
    padding-right: 10%;
    padding-top: 20px;

}

.goat-paragraph {
    padding-right: 40px;
    padding-top: 20px;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 14px;
    color: #000; /* Garante que o texto seja opaco */
}

.options {
    color: #8B0000; /* Cor sólida para links */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold;
    justify-content: center;
    
}

.options:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Ícone do site */
.siteIcon {
    padding-top: 5px;
    width: 90px;
    height: auto;
}


/* ------------- */

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    gap: 0px
}

.options {
    font-size:large;
    text-decoration: none;
    color:maroon;
    font-family: 'Lucida Handwriting', cursive;
    padding: 10px 30px
}


