.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre os elementos do header */
    background-color: rgba(240, 248, 255, 0.6); /* Cor aliceblue com transparência */
    border-radius: 50px;  /*quao redondo e as bordas */
    height: 120px; /*tamanho da caixa a volta do header */
    padding: 0 20px; /* Adiciona algum espaçamento interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombreamento a volta da caixa*/
    z-index: 1000;
}

/* Textos permanecem opacos */
.website-name {
    color: var(--main);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adiciona leve sombra ao texto */
    font-family: 'Lucida Handwriting', cursive;
    padding-right: 10px;
    text-shadow: 1px 1px #fff;
}

.goat-paragraph {
    padding-right: 40px;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 14px;
    color: #000; /* Garante que o texto seja opaco */
    text-shadow: 1px 1px #fff;
}

.options {
    color: #8B0000; /* Cor sólida para links */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold;
    justify-content: center;
    
}

.options:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o rato */
}

/* Ícone do site */
.siteIcon {
    margin-right: 5px;
    margin-left: 20px;
    width: 90px;
    height: auto;
    border: 2px solid #ccc; /* Opcional: adiciona borda às imagens */
    border-radius: 10px; /* Opcional: deixa as bordas arredondadas */
}


/* ------------- */

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px
}

.options {
    font-size:large;
    text-decoration: none;
    color:maroon;
    font-family: 'Lucida Handwriting', cursive;
    padding: 10px 30px
}


