.imagens-seletor{
    font-family: 'Lucida Handwriting', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 25px
}

.titulo{
    margin-bottom:20px;
    margin-top:20px;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 20px;
    width: auto;
    padding: 10px;
    height:70px;
    justify-content: center;
    text-shadow: 1px 1px #fff;
}

.subtitulo{
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 20px;
    width: auto;
    padding: 10px;
    justify-content: center;
    text-shadow: 1px 1px #fff;
}

.description {
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 20px;
    width: auto;
}

.image-row {
    display: flex;
    justify-content: space-around; /* Distribui o espaço uniformemente */
    align-items: center; /* Alinha verticalmente os itens */
    margin: 1%;
    gap: 60px;
    
}

.box {
    text-align: center; 
    width: 300px; 
}

.box img {
    width: 70%; /* Ajusta a largura da imagem ao tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}


.box p {
    margin-top: 10px; /* Espaço entre a imagem e o título */
    font-size: 14px; /* Tamanho do texto */
    color: #333; /* Cor do texto */
}