.imagens-seletor{
    font-family: 'Lucida Handwriting', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 25px
}

.titulo{
    margin-bottom: 0px;
    background-color:aliceblue;
    border-radius: 40px;
    height:120px
}

.subtitulo{
    margin: 0 0 25px 0;
    background-color:aliceblue;
    border-radius: 40px;
    height:120px
}

.description {
    display: flex;
    justify-content: center;
    /* margin-top:  */
}

.image-row {
    display: flex;
    justify-content: space-around; /* Distribui o espaço uniformemente */
    align-items: center; /* Alinha verticalmente os itens */
    margin: 1%;
    gap: 60px;
    
}

.box {
    text-align: center; 
    width: 300px; 
}

.box img {
    width: 70%; /* Ajusta a largura da imagem ao tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}


.box p {
    margin-top: 10px; /* Espaço entre a imagem e o título */
    font-size: 14px; /* Tamanho do texto */
    color: #333; /* Cor do texto */
}