@import url(./header.css);
@import url(./imagensSeletor.css);
@import url(./awards.css);
@import url(./goals.css);
@import url(./social.css);
@import url(./nation.css);


hr {
    border: dashed 1px;
    border-bottom:0cap;
    border-left:0cap;
    border-right:0cap;
    border-color: gray;
    margin: 25px;
}